* { 
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.home-body { 
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-half { 
  background-color:rgb(237, 219, 181);
}

.bottom-half {
  display: grid;
  grid-template-columns:auto auto auto;
  justify-items: center;
  background-color:rgb(228, 204, 175);
  flex-grow: 1;
  padding-bottom: 10px;
}

.page-button-layout { 
  background-color:rgb(228, 204, 175);
  text-align: right;
}

.page-button { 
  margin-inline: 5px;
  width: 30px; 
  height: 30px;
  border-color:rgb(146, 128, 117);
  background-color: rgba(231, 218, 210);
}

.page-button:hover {  
  background-color:rgb(223, 203, 190);
}

.title-bar { 
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{ 
  color: 	#2f1313;
  margin: 0px 50px;
}

i { 
  font-size: 100px;
}

h3 { 
  color:		#ae6427;
  font-size: 20px;
}

img { 
  object-fit:cover;
  height: 150px;
}


article { 
  width: 300px;
  height: 250px;
  align-items: center;
  background-color: rgba(231, 218, 210);
  border-radius: 10px;
  margin-top:20px;
  padding-top: 5px;
  box-shadow: 2px 2px rgb(146, 128, 117);
}

input { 
  width: 300px;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(146, 128, 117);
  background-color: white;
}

section{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
  background: url(v1008-25-b-min.jpg);
}

.big-picture { 
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(146, 128, 117);
}

.right-half { 
  background-color:rgb(228, 204, 175);
  margin-left: 10px;
  max-width:  500px;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(146, 128, 117);
}

.name  { 
  font-size: 50px;
  margin-bottom: 10px;
}

p { 
  text-align: left;
  margin-block: 5px;
  font-size:15px;
}

.credit { 
  text-align: center;
}

.credit-2 { 
  font-size: 10px; 
  color:#2f1313;
  align-items: flex-end;
  align-self:flex-end;
  padding-right: 10px;
}

.description { 
  display: inline-block;
}


@media only screen and (max-width: 1000px) {
  .bottom-half { 
    grid-template-columns: repeat(2, 1fr);
  }
  section { 
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .bottom-half { 
    grid-template-columns: repeat(1, 1fr);
  }
  .big-picture { 
    margin: 0;
    max-height:200px;
  }
  .right-half { 
    margin: 0;
    max-width: 350px;
  }
  .name { 
    font-size: 40px;
  }
}

@media only screen and (max-width: 400px) {
  i { 
  font-size: 75px;
  }
  .right-half { 
    max-width: 300px;
  }
  .page-button-layout {
    text-align: left;
  }
  .description { 
    display: none;
  }
  .name { 
    font-size: 30px;
  }
}
